<div class="row">
<div class="col l10"><h1>Lists by <%= current_user.username %></h1></div>
<div class="col l2"><div class="profile" style="background-image: url('<%= current_user.image %>');"></div></div>
</div>

<h4><%= current_user.lists.length %> lists</h4>

<% if current_user && current_user.lists.length > 0 %>
<div class="row">
  <% current_user.lists.each do |list| %>
  <div class="col l12">
  <a href="/lists/<%= list.id %>"><h3><%= list.name %></h3></a> 
  <p><em><%= list.products.length %> products</em></p>
  <p><%= list.description %></p>
  <% list.products.each do |product| %>
    <div class="col l1 product-list">
      <div class="product-image-list" style="background-image: url('<%= product.image_src %>');"></div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>
<% end %>