<h2 class="grey-text"><strong>Search for Products</strong></h2>

<%= form_tag '/search', method: :post do %>
<%= label_tag :input_search, "" %>
<i class="material-icons search grey-text">search</i>
<%= text_field_tag :input_search, nil, class: "input-field search_input" %>
<% end %>



<% if @products.length > 0 %>
<div class="row">
  <% @products.each do |product| %>
  <div class="col l4 m6 s12 product">
    <a href='/products/<%= product["id"] %>'><div class="product-image" style="background-image: url('<%= product.image.url %>');"></div></a>
    <%= form_tag '/products', method: :post do %>
    <div>
      <%= hidden_field_tag :product_id, product["id"], placeholder: "Enter your Product ID" %>
    </div>
    <div class="center-align">
    <%= button_tag( :class => "btn red lighten-3") do %>
      <i class="material-icons">add</i>
      <% end %>
    </div>
    <% end %>
  </div>

  <% end %>
</div>
<% end %>