<% if ! @search %>
<div class="row">
  <div class="col l12"> 
    <div class="hero">
      <div class="col l4 offset-l9">
        <p>Not if you're a fish. I thought I saw a baby bump. Time for the charm bomb to explode. I'm torn. Dad raised me, but the shark gets me. If we see any mermaids, I'm gonna ask them where their merginas are. I didn't know our county was bi. Good for us.</p>
      </div>
    </div>
  </div>
</div>
<% end %>


<!-- Search form begins -->
<h2 class="grey-text"><strong>Search for Products</strong></h2>

<%= form_tag '/search', method: :post do %>
<%= label_tag :input_search, "" %>
<i class="material-icons search grey-text">search</i>
<%= text_field_tag :input_search, nil, class: "input-field search_input" %>
<% end %>
<!-- Search form ends -->


<% if @products.length > 0 %>
<div class="row">
  <% @products.each do |product| %>
  <div class="col l4 m6 s12 product">
    <a href='/products/<%= product["id"] %>'><div class="product-image" style="background-image: url('<%= product.image.url %>');"></div></a>
    <a href='<%= product.url %>'><i class="material-icons red-text text-lighten-3">share</i></a>
    
    <!-- Add product to database form -->
    <%= form_tag '/products', method: :post do %>
    <div>
      <%= hidden_field_tag :product_id, product["id"], placeholder: "Enter your Product ID" %>
    </div>
    <div>
      <%= collection_select :list, :list_id, @lists, :id, :name, { prompt: "Choose a wish list" } %>
    </div>
    <div>
      <%= button_tag( :class => "btn red lighten-3") do %>
      <i class="material-icons">add</i>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
  <!-- End form -->

</div>
<% end %>

<% if ! @search %>
<div class="row">
  <div class="col l6">
    <div class="col l1"><a href="/products?start=0">1</a></div>
    <div class="col l1"><a href="/products?start=15">2</a></div>
    <div class="col l1"><a href="/products?start=30">3</a></div>
    <div class="col l1"><a href="/products?start=45">4</a></div>
    <div class="col l1"><a href="/products?start=60">5</a></div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col l6">
    <div class="col l1"><a href="/search?start=0">1</a></div>
    <div class="col l1"><a href="/search?start=15">2</a></div>
    <div class="col l1"><a href="/search?start=30">3</a></div>
    <div class="col l1"><a href="/search?start=45">4</a></div>
    <div class="col l1"><a href="/search?start=60">5</a></div>
  </div>
</div>
<% end %>