<h1>Products</h1>

<%= form_tag '/search', method: :post do %>
<%= label_tag :input_search, "" %>
<i class="material-icons">search</i>
  <%= text_field_tag :input_search, nil, class: "input-field" %>
<% end %>



<% if @products.length > 0 %>
<div class="row">
  <% @products.each do |product| %>
  <div class="col l4 product">
    <a href='/products/<%= product["id"] %>'><div class="product-image-index" style="background-image: url('<%= product.image.url %>');"></div></a>
    <%= form_tag '/products', method: :post do %>
    <div>
      <%= hidden_field_tag :product_id, product["id"], placeholder: "Enter your Product ID" %>
    </div>
    <div class="center-align">
      <%= button_tag 'Save Product', class: "btn" %>
    </div>
    <% end %>
  </div>

  <% end %>
</div>
<% end %>