<h1>Products</h1>

  <%= form_tag '/search', method: :post do %>
  <%= label_tag :input_search, "" %>
  <i class="material-icons">search</i></label>
  <div class="mdl-textfield__expandable-holder">
    <%= text_field_tag :input_search, nil, class: "input-field" %>
  </div>
  <% end %>



    <% if @products.length > 0 %>
     <div class="row">
      <% @products.each do |product| %>
      <div class="col l4 product">

        <a href='/products/<%= product["id"] %>'><div class="product-image-index" style="background-image: url('<%= product.image.url %>');"></div></a>
      </div>
      <% end %>
      </div>
    <% end %>