<% if ! @search %>
<div class="row home">
  <div class="col l12 no-p"> 
    <div class="hero">
      <div class="col l2">
        <div class="flip white-text">
         <div class="cont">
          <div class="front grey lighten-1 circle">
            <i class="material-icons center">arrow_upward</i>
            <p class="center">Start Here</p>
            <i class="material-icons center">arrow_forward</i>
          </div>
        </div>
        <div class="cont">
          <div class="back grey lighten-1 circle">
            <p class="center">Sign up and create a list (or ten). Search for products. Once you find products you want, add them to your lists. Do it all over again. Huzzah!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col l9 m12 s12 home-search">
      <!-- Search form begins -->
      <h2 class="white-text search-text"><strong>Search for Products</strong></h2>

      <%= form_tag '/search', method: :post do %>
      <%= label_tag :input_search, "" %>
      <i class="material-icons search white-text">search</i>
      <%= text_field_tag :input_search, nil, class: "input-field search_input" %>
      <% end %>
      <!-- Search form ends -->
    </div>
  </div>
</div>
</div>
<% end %>


<% if @search && @products.length > 0 %>

<div class="col l9">
  <!-- Search form begins -->
  <h2 class="grey-text"><strong>Search for Products</strong></h2>

  <%= form_tag '/search', method: :post do %>
  <%= label_tag :input_search, "" %>
  <i class="material-icons search grey-text">search</i>
  <%= text_field_tag :input_search, nil, class: "input-field search_input" %>
  <% end %>
  <!-- Search form ends -->
</div>

<div class="row">
  <% @products.each do |product| %>
  <div class="col l4 m6 s12 product">
    <a href='/products/<%= product["id"] %>'><div class="product-image" style="background-image: url('<%= product.image.url %>');"></div></a>
    <a href='<%= product.url %>'><i class="material-icons red-text text-lighten-3">share</i></a>
    
    <!-- Add product to database form -->
    <%= form_tag '/products', method: :post do %>
    <div>
      <%= hidden_field_tag :product_id, product["id"], placeholder: "Enter your Product ID" %>
    </div>
    <% if current_user %>
    <div>
      <%= collection_select :list, :list_id, current_user.lists, :id, :name, { prompt: "Choose a wish list" } %>
    </div>
    <div>
      <%= button_tag( :class => "btn red lighten-3") do %>
      <i class="material-icons">add</i>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>
  <!-- End form -->

</div>
<% end %>
