<!DOCTYPE html>
<html>
<head>
  <title>Wishlist App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="row">
        <div class="col l2">
          <a href="/" class="brand-logo red-text text-lighten-4"><h1><strong>Ooh, Gimme</strong></h1></a>
          <ul id="nav-mobile" class="side-nav-fixed">
            <li><a class="grey-text grey-darken-3" href="/lists/">All Lists</a></li>
            <li><a class="grey-text grey-darken-3" href="/lists/new">Create a new List</a></li>
          </ul>
        </div>

    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %>
    </div>
    <% end %>

    <main>
     <!--  <div class="container"> -->
        <div class="col l10">
          <%= yield %>
        </div>
      <!-- </div> -->
  </main>
  </div>

</body>
</html>
