<!DOCTYPE html>
<html>
<head>
<title>Ooh Gimme</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>

<body>
<%= render "layouts/top_nav" %>
<div class="row home">
<% if ! @products && ! @search %>
  <%= render "layouts/side_nav" %>
<% end %>
  <%= render "layouts/flash_message" %>

  <main>
   <% if @products || @search %>
   <div class="col l12 no-p full">
    <% else %>
    <div class="col l9 right">
      <% end %>
      <%= yield %>
    </div>
  </main>
</div>

</body>
</html>